@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/font3.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  height: 100%;
}
body {
  margin: 0;
}
#wrap {
  width: 100%;
  display: inline-flex;
  justify-content: center; /* Alinha horizontalmente */
  align-items: center; /* Alinha verticalmente */
  height: 100vh; /* Use a altura que desejar */
  background-image: url("/img/sascar/Fundo_Prancheta 1.png");
  background-size: cover; /* Para redimensionar a imagem para preencher o elemento */
  background-position: center; /* Para centralizar a imagem */
}

#showcase {
  width: 100%;
  height: 400px;
  visibility: hidden;
  position: relative;
  top: 100px;
  z-index: 2;
}
#showcase img {
  cursor: grab;
  width: 250px;
  height: 250px;
}
.cloud9-item {
  position: fixed;
}
#item-title {
  color: #ffffff;
  font-size: 29px;
  position: absolute;
  z-index: 999;
  bottom: 27vh;
  font-family: 'Open Sans', sans-serif;
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
